// src/app/layout.module.scss

@use '@/styles/variables' as *;

.main {
  flex: 1;
  min-height: calc(100vh - var(--header-height) - var(--navbar-height));
  background-color: var(--color-background);
}
