// src/components/FormField/FormField.module.scss

@use '@/styles/variables' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.error {
  font-size: var(--font-size-xs);
  color: var(--color-error);
  margin-top: calc(var(--space-2) * -1);
}
